@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    font-family: "Rubik", serif;
    padding: 0;
    margin: 0;
    text-decoration:none;
}
/* Variables */
:root{
    --BgColour: #f5ecec;
    --AccentYellow: #F4C949;
    --DarkBluePrimary: #090f1a;
    --DarkBgColor: #0d131d;
    --darker: #040913;
    --ligherblue: #5b729c;
    --altBgcolor: #171722;
}
#navbarPlaceholder{
    position: sticky;
    width:100%;
    top:0;
    z-index: 1;
}
body{
    min-height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 11vh;
    background-color: var(--BgColour);
    overflow-x:hidden;
}
#footerPlaceholder{
    position:fixed;
    bottom:0;
    width:100%;
}
/* Navbar Before Login */
#Navbar {
    background-color: var(--DarkBluePrimary);
    font-weight: 900;
    width: 100%;
    padding: 2vh 1vw 1vh 1vw;
}

#DTC06 {
    font-size: 3vh;
    text-align: left;
    line-height: 2.2vh;
    color: var(--AccentYellow);
    padding:0;
    text-decoration: none;
}

#NavContent{
    display:flex;
    justify-content: space-between;
}

#NavLinks {
    display: flex;
    flex-direction: row;
    gap: 1em;
    max-width:3vw;

}

#NavButtons {
    display: flex;
    gap: 0.5em;
    max-width:50%;
    justify-content: end;

}

#MapText, #EventsText {
    margin-top: 3vh;
    color: white;
    font-size: 2vh;
    padding: 0;
}


#SignUp, #LogIn {
    margin-top: 2vh;
    font-size: 0.9em;
    background-color: var(--AccentYellow);
    border-radius: 10px;
    text-align: center;
    padding-left: 0.4vw;
    padding-right: 0.4vw;
}

#SignUp a,
#LogIn a {
    color: #272F3F;
}

/* Navbar After Login */
#profile{
    width:3rem;
    height:3rem;
    border-radius: 100%;
    object-fit: cover;
    border: var(--BgColour) 0.1em solid;
}

#profile:hover{
    filter:brightness(70%);
}

/* landing page */
#Main_body {
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    background-size: cover;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 20.9%, var(--DarkBluePrimary) 100%), url(../images/BCIT_DTC_BGIMG.jpg);

}

#landingBody{
    background-color: var(--DarkBluePrimary);
    color:white;
}

#Welcome_msg {
    display:flex;
    flex-direction: column;
    align-items: left;
    padding-bottom: 6em;
    padding-left: 4em;
    color:var(--BgColour);
}

#Welcome_msg h1 {
    font-weight: 900;
    padding-top: 0.5em;
    font-size: 10vw;
}

#Welcome_msg p {
    font-weight: 400;
    font-size: 4vw;
    width:70%;
}

#Welcome_button {
    font-weight: 600;
    color: var(--DarkBluePrimary);
    font-size: 3vw;
    background-color: var(--AccentYellow);
    border-radius: 30px;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#Welcome_button:hover {
    background-color: #559ac6;
    transform: translateY(-2px);
}

#BG_fade {
    height:fit-content;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 1%, var(--DarkBluePrimary) 100%);
    background-color: var(--DarkBluePrimary);
    padding-top: 10em;
}

#mapLanding, #eventLanding{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 4em;
    margin-bottom: 9em;
}

#mapLanding p,
#eventLanding p {
    width:30%;
    padding-left: 1vw;
    font-weight: 300;
}

#mapLanding h1,
#eventLanding h1 {
    width: 40%;
    font-weight: 800;
    font-size: 10vw;
}

#landingFooter{
    width:100%;
    height:fit-content;
    padding: 1vh 1vw 0 1vh;
    background-color: var(--darker);
    display: flex;
    justify-content: space-between;
    gap:2em;
    align-items: start;
    position: absolute;
    bottom:-100;
    font-weight: 200;
}

#joinLanding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:auto;
    margin:10vh 0;
}
#joinLanding h1{
    font-weight: 800;
    font-size: 10vw;
}

#joinButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8vw;
    margin-top: 1vh;
}
#joinButtons button{
    background-color: var(--AccentYellow);
    border:none;
    padding: 0.3em 3em;
    border-radius: 3vw;
    font-weight: 900;
    font-size: 2vw;
}

#copyright{
    position: absolute;
    bottom:0;
    font-size: 1vw;
}

 #landingAbout, #landingContact{
    width:33%;
    padding: 1em;
}

#landingDesc{
    width:66%;
    padding:2em;
    text-align: center;
}

/* Events list page */
#eventBody{
    background-color: var(--BgColour);
}
#EventsContent{
    min-width: 100%;
    display:flex;
    justify-content:center;
    margin-top: 3vh;
    flex-direction: column;
    align-items: center;

}
#EventsTop{
    min-width: 100%;
    display:flex;
    text-align: center;
    justify-content: space-between;
    padding: 0 2em 0 2em;
}
#EventsTitle{
    flex-basis: 80%;
    padding-right: 20vw;

}

#EventsTitle h1{
    font-size:7vw;
}

#backArrow{
    flex-basis: 6%;
    height:auto;
    min-width: 2.2em;
    cursor: pointer;
    color:var(--DarkBluePrimary);
    transition: 0.1s;
}
#backArrow:hover{
    filter: invert(67%) sepia(66%) saturate(409%) hue-rotate(4deg) brightness(107%) contrast(91%);
    transition: 0.1s;
}

#search{
    min-width:100%;
    padding: 0 5em;
    /* display: flex; */
    justify-content: center;
    display:none;
}

#searchBar{
    border:black solid 0.15em;
    padding: 0 1vw;
    border-radius: 2em;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    margin-bottom: 2em;
    width:fit-content;
    height:2em;
    flex-grow:0.2;

}

#searchBar input{
    border:none;
    background-color: transparent;
}

#searchBar input:focus{
    border:none;
    outline: none;
    background-color: transparent;
}

#filters{
    cursor: pointer;
}
#eventItemList{
    height:fit-content;
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap:1vh;
    box-sizing: border-box;
    padding: 0vh 10vw;
    justify-content: center;
    width:100%;
    align-content: center;
}

#eventItem{
    padding: 2vh 2vw;
    border-radius: 1em;
    background-color: var(--darker);
    color:white;
    width:100%;
    display: flex;
    position: relative;
    height:auto;
    cursor: pointer;
    text-align: left;
    align-items: left;
    flex-direction: column;
}
#eventTitle{
    font-size:4vw;
    position: relative;
}
#eventBriefDescription{
    padding-top: 2vh;
    font-size:1.5vw;
    font-weight: 300;
    text-overflow: ellipsis;
}
#buttonwrap{
    width:100%;
    height:100%;
    display:flex;
    justify-content: right;
    align-items:end;
}
#eventButton{
    width:auto;
    height:3em;
    padding:1vw 2vw;
    border:none;
    background-color: var(--AccentYellow);
    border-radius: 1em;
    font-weight: 700;
    color:var(--darker);
    font-size: 1.5vw;
    text-decoration: none;
}

#eventButton:active{
    background-color: var(--darker);
    color:var(--BgColour);
    border: var(--AccentYellow) solid 0.1vw;
}

/* Event Page */
#EventName{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-top: 2em;
    gap: 3vw;
}
#EventName svg{
    min-width: 6vw;
    cursor: pointer;
    height: auto;
    padding-bottom: 0.5vh;
}
#EventName h1{
    font-size: 7vw;
    text-align: center;
}
#EventDescription{
    display: flex;
    padding: 2vh 15vw 0;
    position: relative;
    height:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}
#eventImg{
    width:fit-content;
    height:fit-content;
    padding: 1vh 0;
}
#FavoriteButton{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 5vh;
}
#AddFavorite{
    border: black solid 0.2vw;
    padding: 2vh 5vw;
    font-weight: bold;
    font-size: 3vh;
    border-radius: 1em;
}
#AddFavorite:hover{
    background-color: var(--AccentYellow);
    color:white;
    outline:none;
    border:transparent solid 0.2vw;
}

/* Favorites page */
#Favorites{
    margin-top: 3vh;
}
#FavoriteEvents{
    display: flex;
    flex-direction: column;
    margin: 0vh 6vw;
    justify-content: center;
    gap:0.5em;
    align-items: center;
}
#favoriteEvent{
    margin: 1vh 6vw 0vh;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items:center;
    cursor:pointer;
    background-color: var(--DarkBluePrimary);
    border-radius: 2em;
    padding: 2vh 4vw 0vh;
    overflow: hidden;
}
#eventTitle{
    color:white;
    width:80%;
    height:auto;
    font-size: 1.5rem;
    text-align: start;
    text-decoration: none;
}
.removeBtn{
    font-size: 1.2rem;
    padding-bottom: 1em;
    color:white;
    background-color: transparent;
    border:none;
    outline:none;
    user-select: none;
}
#favoriteEvent:hover{
    filter: brightness(160%);
}
#favoriteEvent div:hover{
    opacity: 30%;
}
/* footer */
#footer {
    background-color: var(--DarkBluePrimary);
    padding: 1vh 2vw 0;
    width:100%;
    height:10vh;
}
#footerfeatures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
#footer-maps, #footer-home, #footer-events, #footer-favorites{
    display:flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height:auto;
    width:20vw;
    text-decoration: none;
    filter: invert(50%) brightness(185%);
}
#footer-maps:hover,
#footer-home:hover,
#footer-events:hover, #footer-favorites:hover {
    filter: invert(50%) brightness(100%);
}
#footerText {
    color:var(--BgColour);
    font-size: 1em;
    text-align: center;
    filter:brightness(70%);
}
/* map/home page */
#home, #map {
    background-color: var(--BgColour);
    text-decoration: none;
    width:100%;
}

.titlebox {
    background-color: var(--DarkBluePrimary);
    color: var(--BgColour);
    font-size: 7vw;
    text-decoration: none;
    border-radius: 1em;
    width: 80%;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
}
#floors{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dropdown {
    background-color: var(--DarkBluePrimary);
    color: var(--BgColour);
    font-size: 7vw;
    text-decoration: none;
    border-radius: 1em;
    width: 60%;
    justify-content: center;
    margin: 2% 10% 0;
}

.dropdown-content a {
    color: var(--BgColour);
    font-size: 5vw;
    text-decoration: none;
    padding:2% 32%;
    margin:2% 0;
    display:flex;
    justify-content: center;
    text-align: center;
}

.dropbtn{
    background-color: var(--DarkBluePrimary);
    color: var(--BgColour);
    font-size: 7vw;
    text-decoration: none;
    border-radius: 1em;
    width: 100%;
    justify-content: center;
    border:none;
}

.homelink {
    padding-left: 5%;
    text-decoration: none;
    color: white;
}

.homelink:link, .titlebox:link, .dropdown:link {
    color: var(--BgColour);
    text-decoration: none;
}

.homelink:visited, .titlebox:visited, .dropdown:visited {
    color: var(--BgColour);
}



.titlebox:active {
    background-color: var(--AccentYellow);
}
.homelink:active{
    color:var(--DarkBgColor);
}

.arrow{
    position: absolute;
    left:85%;
    width:3vw;
    height:auto;
    transform: translate(-50%, 80%);
}
#eventboxeshome {
    display: flex;
    justify-content: center;
    text-align: center;
    gap:2vw;
    margin:3vh 11vw;
}

#favoritesbox {
    display: flex;
    flex-direction: column;
    background-color: var(--DarkBgColor);
    color: #090f1a;
    width: 60%;
    min-height: 24vw;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    padding: 2% 0;
    text-align: center;
    min-width: 64%;
    margin:2vh 18vw;
    overflow: hidden;
    
}
.eventboxhome {
    display: flex;
    background-color:var(--DarkBgColor) ;
    color: var(--BgColour);
    width: 50%;
    min-height: 20vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2em;
    padding: 2vh;
}

#noFavMessage {
    display: flex;
    margin-top: 1vh;
    justify-content: center;
    font-size: 32px;
}

.eventboxhome a, #favoritesbox a {
    font-size: 2em;
    text-decoration: none;
    font-weight: bold;
}

.eventboxhome a:link, #favoritesbox a:link {
    color: var(--BgColour);
}

.eventboxhome a:visited, #favoritesbox a:visited {
    color: var(--BgColour);
}

.eventboxhome a:hover, #favoritesbox a:hover {
    filter:opacity(20%);
}

.eventboxhome p, #favoritesbox p {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:100%;
    padding: 2% 2%;
    font-weight: 200;
    color: white;
}

.boxarrow, .favoritesarrow {
    padding-left: 80%;
    padding-top: 70px;
    padding-top: 20px;
}
#mapimage{
    width:80%;
    height:auto;
    padding-top: 4vh;
}

#home section{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    box-sizing: border-box;
}
#logOut{
    text-decoration: none;
    color:var(--DarkBgColor);
    background-color: var(--AccentYellow);
    padding: 2vh 3vw;
    margin-left: 2vw;
    border-radius: 10%;
}

#mapimage2 {
    width: 100%;
    height:50%;
    margin-top: 4vh;
}
/* #mapimage2:hover{
    cursor: none;
} */

.img-zoom-container {
    box-sizing: border-box;
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding:0 20vw;
}

#myresult {
    border: 5px solid black;
    width: 6em;
    height:6em;
    position: absolute;
    border: 3px solid #000;
    background: rgba(0, 0, 0, 0.3);
    cursor: none;
    display: none;
    pointer-events: none; 
    transform: translate(260%, 310%);
}


@media screen and (max-width: 767px) {
    body{
        padding-bottom: 7vh;
    }
    #footerText{
        display:none;
    }

    #footer{
        height:7vh;
    }

    #mapLanding, #eventLanding, #Welcome_msg{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin:0;
        padding:1em 0;
        
    }

    #mapLanding, #eventLanding{
        margin-bottom: 9em;
    }

    #mapLanding p, #eventLanding p{
        width:80%;
    }
}

.arrowdown{
    position: absolute;
    top:50%;
    left:87%;
    width:4vw;
    height:auto;

}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display:none;
}

/* .dropdown:hover .dropdown-content{
    display:block;
}

.dropdown:hover .arrowdown{
    display:none;
} */