@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    font-family: "Rubik", serif;
    padding: 0;
    margin: 0;
    text-decoration:none;
}
/* Variables */
:root{
    --BgColour: #E6E8EF;
    --AccentYellow: #F4C949;
    --DarkBluePrimary: #272F3F;
}
#navbarPlaceholder{
    position: sticky;
    top:0;
    z-index: 1;
}

body{
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
}
#footerPlaceholder{
    position:fixed;
    bottom:0;
    z-index: 1;
    width:100%;

}
/* Navbar Before Login */
#Navbar {
    background-color: var(--DarkBluePrimary);
    font-weight: 900;
    position: sticky;
    top: 0;
    min-width: 100%;
    padding: 2vh 1vw 1vh 1vw;
}

#DTC06 {
    font-size: 3.6vh;
    text-shadow: 2px 2px white;
    text-align: center;
    line-height: 3vh;
    color: var(--AccentYellow);
    padding:0;
    text-decoration: none;
}

#NavContent{
    display:flex;
    justify-content: space-between;
}

#NavLinks {
    display: flex;
    flex-direction: row;
    gap: 1em;
    max-width:3vw;

}

#NavButtons {
    display: flex;
    gap: 0.5em;
    max-width:50%;
    justify-content: end;

}

#Map, #Events {
    margin-top: 3vh;
    color: white;
    font-size: 2vh;
    padding: 0;
}


#SignUp, #LogIn {
    margin-top: 2vh;
    font-size: 0.9em;
    background-color: var(--AccentYellow);
    border-radius: 10px;
    text-align: center;
    padding-left: 0.4vw;
    padding-right: 0.4vw;
}

#SignUp a,
#LogIn a {
    color: #272F3F;
}

/* Navbar After Login */
#profile{
    width:3em;
    height:3em;
    border-radius: 100%;
    object-fit: cover;
    border: var(--BgColour) 0.1em solid;
}


#profile:hover{
    filter:brightness(70%);
}

/* landing page */
#Main_body {
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    background-size: cover;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 20.9%, #090f1a 100%), url(../images/BCIT_DTC_BGIMG.jpg);

}

#Welcome_msg {
    text-align: center;
    padding-bottom: 6em;
}

#Welcome_msg h1 {
    font-weight: 900;
    color: white;
    padding-top: 0.5em;
    font-size: 15vw;
}

#Welcome_msg p {
    font-weight: 400;
    color: white;
    padding-top: 5px;
    font-size: 48px;
}

#Welcome_button {
    font-weight: 600;
    color: var(--DarkBluePrimary);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    background-color: var(--AccentYellow);
    border-radius: 30px;
    padding: 10px 20px;
    display: block;
    width: fit-content;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#Welcome_button:hover {
    background-color: #559ac6;
    transform: translateY(-2px);
}

#BG_fade {
    min-height: 1200px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 1%, #090f1a 100%);
    background-color: #090f1a;
}

/* Events list page */
#eventBody{
    background-color: var(--BgColour);
}
#EventsContent{
    min-width: 100%;
    display:flex;
    justify-content:center;
    margin-top: 3vh;
    flex-direction: column;
    align-items: center;

}
#EventsTop{
    min-width: 100%;
    display:flex;
    text-align: center;
    justify-content: space-between;
    padding: 0 2em 0 2em;
}
#EventsTitle{
    flex-basis: 80%;
    padding-right: 20vw;

}

#EventsTitle h1{
    font-size:7vw;
}

#backArrow{
    flex-basis: 6%;
    height:auto;
    min-width: 2.2em;
    cursor: pointer;
    color:var(--DarkBluePrimary);
    transition: 0.1s;
}
#backArrow:hover{
    filter: invert(67%) sepia(66%) saturate(409%) hue-rotate(4deg) brightness(107%) contrast(91%);
    transition: 0.1s;
}

#search{
    min-width:100%;
    padding: 0 5em;
    display: flex;
    justify-content: center;
    
}

#searchBar{
    border:black solid 0.15em;
    padding: 0 1vw 0 1vw;
    border-radius: 2em;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    margin-bottom: 2em;
    width:fit-content;
    height:2em;
    flex-grow:0.2;

}

#searchBar input{
    border:none;
    background-color: transparent;
}

#searchBar input:focus{
    border:none;
    outline: none;
    background-color: transparent;
}

#filters{
    cursor: pointer;
}
#eventItemList{
    height:100%;
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap:2vh;
    justify-content: center;
    align-items: center;
}

#eventItem{
    padding: 4vh 2vw;
    border-radius: 1em;
    background-color: grey;
    color:white;
    width:30vw;
    display: flex;
    position: relative;
    height:30vw;
    cursor: pointer;
    text-align: left;
    align-items: center;
}
#eventItem h1{
    font-size:4vw;
    position: absolute;
    top:10%;
    left:5%;
}
#eventItem p{
    padding-top: 2vh;
    font-size:1.5vw;
}

/* Event Page */
#EventName{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    gap: 2vw;
}
#EventName svg{
    min-width: 2.2em;
    cursor: pointer;
    height: auto;
    padding-bottom: 0.5vh;
}
#EventName h1{
    font-size: 7vw;
}
#EventDescription{
    display: flex;
    padding: 2vh 15vw 0 15vw;
    position: relative;
    height:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}
#eventImg{
    width:fit-content;
    height:fit-content;
    padding: 1vh 0 1vh 0;
}
#FavoriteButton{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 5vh;
}
#AddFavorite{
    border: black solid 0.2vw;
    padding: 2vh 5vw 02vh 5vw;
    font-weight: bold;
    font-size: 3vh;
    border-radius: 1em;
}
#AddFavorite:hover{
    background-color: var(--AccentYellow);
    color:white;
    outline:none;
    border:transparent solid 0.2vw;
}

/* Favorites page */
#Favorites{
    margin-top: 3vh;
}

#FavoriteEvents{
    display: flex;
    justify-content: center;
    align-items: center;
}
#favoriteEvent{
    list-style: none;
    font-size: 3vh;
    margin-top: 2vh;
    width: 100%;
    height: auto;
    padding: 0 4vw 0 4vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
#favoriteEvent li{
    background-color: var(--DarkBluePrimary);
    color:white;
    width:100%;
    height:auto;
    border-radius: 2em;
    padding: 1vh 2vw 1vh 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
}
#favoriteEvent li div{
    font-size: 1.5vw;
}
#favoriteEvent li div:hover{
    opacity: 30%;
}
#favoriteEvent li:hover{
    filter: brightness(160%);
}
/* footer */
#footer {
    background-color: var(--DarkBluePrimary);
    padding: 1vh 2vw;
    width:100%;
}
#footerfeatures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
#footer-maps, #footer-home, #footer-events, #footer-favorites{
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size:2vw;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height:auto;
    width:20em;
}
#footer-maps:hover,
#footer-home:hover,
#footer-events:hover, #footer-favorites:hover {
    filter:brightness(120%)
}
#footer-maps a,
#footer-home a,
#footer-events a, #footer-favorites a {
    text-decoration:none;
    color:var(--BgColour);
}
/* map/home page */
#home, #map {
    background-color: var(--BgColour);
    text-decoration: none;
    margin: 0px;
}

.titlebox {
    background-color: var(--DarkBluePrimary);
    color: var(--BgColour);
    font-size: 80px;
    text-decoration: none;
    border-radius: 1em;
    min-width: 80%;
    width: 80%;
    max-width: 80%;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
}

.dropdown {
    background-color: var(--DarkBluePrimary);
    color: var(--BgColour);
    font-size: 80px;
    text-decoration: none;
    border-radius: 1em;
    min-width: 80%;
    width: 80%;
    max-width: 80%;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.dropdown-content a {
    background-color: var(--BgColour);
    color: #090f1a;
    font-size: 80px;
    text-decoration: none;
    padding-left: 32%;
    padding-right: 32%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
    text-align: center;
}

.dropbtn{
    background-color: var(--DarkBluePrimary);
    color: var(--BgColour);
    font-size: 80px;
    text-decoration: none;
    border-radius: 1em;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    justify-content: center;
}

.homelink {
    padding-left: 5%;
    text-decoration: none;
    color: white;
}

.homelink:link, .titlebox:link, .dropdown:link {
    color: var(--BgColour);
}

.homelink:visited, .titlebox:visited, .dropdown:visited {
    color: var(--BgColour);
}

.homelink:hover, .titlebox:hover, .dropdown:hover {
    background-color: var(--DarkBluePrimary);
    color: #4A69A6;
}

.homelink:active, .titlebox:active {
    background-color: var(--AccentYellow);
    color: #4A69A6;
}

.arrowdown {
    float: right;
    padding-right: 3%;
    justify-content: center;
    padding-top: 5%;
}

.arrow {
    float: right;
    padding-right: 3%;
    justify-content: center;
    padding-top: 3%;
}

#eventboxeshome {
    display: inline-block;
    justify-content: center;
    text-align: center;
    
}

.favoritesbox {
    display: inline-block;
    background-color: #94ABD9;
    color: #090f1a;
    width: 60%;
    height: 250px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 1%;
    margin-left: 1%;
    border-radius: 2em;
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
    min-width: 64%;
    margin-left: 18%;
    margin-right: 18%;
}

.favoritesbox p {
    font-size: 36px;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}

.eventboxhome {
    display: inline-block;
    background-color: #94ABD9;
    color: #090f1a;
    width: 30%;
    height: auto;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 1%;
    margin-left: 1%;
    border-radius: 2em;
    padding-bottom: 2%;
    padding-top: 2%;
}

.eventboxhome a, .favoritesbox a {
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
}

.eventboxhome a:link, .favoritesbox a:link {
    color: #071021;
}

.eventboxhome a:visited, .favoritesbox a:visited {
    color: #071021;
}


.eventboxhome a:hover, .favoritesbox a:hover {
    color: var(--BgColour);
}

.eventboxhome a:active, .favoritesbox a:active {
    color: #071021;
}

.eventboxhome p {
    font-size: 36px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 30px;
}

.boxarrow, .favoritesarrow {
    padding-left: 80%;
    padding-top: 70px;
    padding-top: 20px;
}

#mapimage {
    width: 80%;
    margin-left: 10%;
    padding-top: 50px;
}

#mapimage2 {
    width: 94%;
    margin-left: 3%;
    padding-top: 25%;
}

@media screen and (max-width: 767px) {
    #footer-maps a, #footer-home a, #footer-events a, #footer-favorites a {
        display:none;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--BgColour);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    text-decoration: none;
}